
body{
margin:0;
font-family:Arial;
background:#f5f5f5;
color:#333;
    line-height:1.6;
}

header{
background-image: linear-gradient(rgba(10,77,77,0.55), rgba(10,77,77,0.55)),
url("images/background.jpg");
    background-size: cover;
  background-position: center;
    background-repeat: no-repeat;
    height:80vh;    
width:100%;
 
}
.logo a{
    display:flex;
    align-items:center;
       text-decoration: none;
}
.logo img{    
width:80px;  
height:auto; 
       display:block;
}
.logo h2{   
color:#FFD700;
   font-size:28px;
margin-left:12px;
  }
nav {
       position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 25px;
    background:transparent;
    z-index:1000;
 box-sizing:border-box;
}
nav ul {
       display:flex;
    list-style:none;
      gap:15px;
  margin-top:18px;
}
nav ul li a{
    color:#fff;
   text-decoration:none;
    font-size:15px;
    font-weight:bold;
transition:.3s;
}
nav ul li a:hover,nav ul li a.active
{
    color:#FFD700;
}
.hero{
height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;

}

.hero h1{
  font-size:55px;
color:white;
    margin-bottom:15px;
}
.hero p{
    font-size:22px;
color:white;
}
.content{
    width:90%;
    margin:40px auto;
}
.content h2{
    font-size:42px;
    color:#222;
    text-align:left;
    margin-bottom:25px;
    border-left:6px solid #ff9900;
    padding-left:15px;
}
.images{
    display:flex;
    justify-content:space-between;
    gap:20px;
     flex-wrap:wrap;
}
.images img{
    width:30%;
    height:180px;
    object-fit:cover;
object-fit:cover;
}
.paragraph p{
    font-size:18px;
    color:#555;
    line-height:1.9;
    text-align:justify;
    margin-bottom:20px;
}
footer{
background:#000; 
 color:#fff;
padding:20px;
text-align:center;
margin-top:50px;
}
/* ==========================
   MOBILE RESPONSIVE
========================== */
@media (max-width:768px){
    header{
        height:600px;
          }

    nav{
        flex-direction:column;
        padding:15px;
        align-items:center;
        background:transparent;
    }

    /* LOGO LEFT + COMPANY NAME RIGHT */
    .logo a{
          flex-direction:row;
      padding:0;      
        margin-bottom:15px;
          }
    .logo img{
        width:65px;
         }
    .logo h2{
        font-size:21px;
        margin-left:8px;
       padding:0;
        white-space:normal;
    }
    /* MENU */
    nav ul{
        flex-direction:column;
        gap:10px;
        margin:0;
    }
 nav ul li{
        margin:0;
    }
    nav ul li a{
        font-size:16px;
   
    }

    /* HERO */
    .hero{
        position:absolute;
        height:auto;
        top:300px;
        padding:0 15px;
    }
    .hero h1{
        font-size:38px;
      }
    .hero p{
        font-size:17px;
        line-height:1;
    }
}
    .content h2{
        font-size:30px;
    }

    .images{
        flex-direction:column;
        gap:15px;
    }

    .images img{
        width:100%;
        height:auto;
    }

    .paragraph p{
        font-size:16px;
        line-height:1.7;
        text-align:left;
    }

    footer{
        margin-top:30px;
        padding:15px;
    }
}
